#acardhead{
    margin-left: 2%;
    margin-top: 2%;
    font-weight: bolder;
    color: black;
}
#newsections {
    margin-left: 2%;
    font-weight: bolder;
    color: black;
}
hr {
    width: 90%;
    margin-left: 2%;
}
#spcard {
    width: 100%;
}
#card1{
    -webkit-box-shadow: 3px 5px 6px 2px rgba(0,0,0,0.31); 
    box-shadow: 3px 5px 6px 2px rgba(0,0,0,0.31);
    width: 15em;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    height: 16em;
}
#textbox {
    display: none;
    color: black;
    padding: 5px;
    text-align: center;
}
#card1:hover #textbox {
    display: block;
}
#card1:hover #card1img {
    height: 150px;
}
#card1:hover #card2img {
    height: 150px;
}
#card1:hover #card3img {
    height: 150px;
}
#card1:hover #card4img {
    height: 150px;
}
#card1img{
    border-radius: 5px;
    height: 16rem;
    object-fit: cover;
    object-position: 100% 10%;
    margin: auto;
    transition: 0.2s;
    transform: translateY(0);
    transition-timing-function: linear;
}
#card2img{
    border-radius: 5px;
    height: 16em;
    object-fit: cover;
    object-position: 100% 30% 10%;
    margin: auto;
    transition: 0.2s;
    transition-timing-function: linear;
}
#card3img{
    border-radius: 5px;
    height: 16em;
    object-fit: cover;
    object-position: 100% 5%;
    margin: auto;
    transition: 0.2s;
    transition-timing-function: linear;
}
#card4img{
 border-radius: 5px;
 height: 16em;
 object-fit: cover;
 object-position: 100% 5%;
 margin: auto;
 transition: 0.2s;
    transition-timing-function: linear;
}
#news
{
    width: 100%;
}
#newscover {
    border: 1px solid white;
    border-radius: 5px;
    width:10em;
    height: 10em;
    margin-left: 2%;
    margin-bottom: 1%;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
}
#newscover3{
 border: 1px solid white;
 border-radius: 5px;
 width:10em;
 height: 10em;
 margin-left: 2%;
 margin-bottom: 1%;
 object-fit: cover;
 overflow: hidden;
 display: inline-block;
}
#newshead {
    display: inline-block;
    margin-left: 1%;
    color: black;
    font-size: x-large;
    font-weight: bold;
}
#newsbit {
 margin-left: 1%;
 margin-top: -1%;
}
#newsintro {
 display: inline-block;
 width: 70%;
 position: absolute;
 opacity: 0.5;
}
#newsintro:hover {
 opacity: 1;
}
.page-foot {
 width: 100%;
 background-color: #8fd6e1;
 height: 5em;
}
#sociolinks {
 display: flex;
 height: 3em;
 justify-content: center;
 align-items: center;
}
#foot-icon {
 width: 35px;
 height: 35px;
 margin-left: 5%;
 display: inline-block;
}
#foot-details {
 text-align: center;
 font-weight: bold;
}
@media only screen and (max-width: 850px) {
#newscover {
 border: 1px solid white;
 border-radius: 5px;
 width:7em;
 height: 7em;
 margin-left: 2%;
 margin-bottom: 1%;
 object-fit: cover;
 overflow: hidden;
 display: inline-block;
}
#newscover3{
 border: 1px solid white;
 border-radius: 5px;
 width:7em;
 height: 7em;
 margin-left: 2%;
 margin-bottom: 1%;
 object-fit: cover;
 overflow: hidden;
 display: inline-block;
}
#newsintro {
 display: inline-block;
 width: 70%;
 font-size:smaller;
 opacity: 0.5;
}
#newsbit {
display: none;
}
#newshead {
 display: inline-block;
 margin-left: 2%;
 color: black;
 font-size: large;
 font-weight: bold;
}
}