@media only screen and (max-width: 960px) {
 #bigban {
     height: auto;
     width: 100%;
} }
#acardhead{
    margin-left: 2%;
    margin-top: 2%;
    font-family: 'Oxygen', sans-serif;
    font-weight: bolder;
    color: black;
}
hr {
    width: 70%;
    margin-left: 2%;
}
#spcard {
    width: 70%;
}
#card1{
    -webkit-box-shadow: 3px 5px 6px 2px rgba(0,0,0,0.31); 
    box-shadow: 3px 5px 6px 2px rgba(0,0,0,0.31);
    width: 20em;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 17.5em;

}
#card1img{
    border-radius: 5px;
    height: 175px;
    object-fit: cover;
    object-position: 100% 25%;
    margin: auto;
}
#card2img{
    border-radius: 5px;
    height: 175px;
    object-fit: cover;
    object-position: 100% 15%;
    margin: auto;
}
#textbox {
    padding: 5%;
    font-weight: bold;
    text-align: center;
}   
